{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h1>Список пользователей</h1>
    <table>
          <thead>
          <tr>
              <th>ID</th>
              <th>Имя</th>
          </tr>
          </thead>
          <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.name }}</td>
                    <td><a href="{% url 'core:user_detail' user.pk %}">Подробнее</a></td>
                    <td><a href="{% url 'core:user_delete' user.pk %}">Удалить</a></td>
                    <td><a href="{% url 'core:user_update' user.pk %}">Изменить</a></td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
{% endblock %}