{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h1>Список посещений</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.id }}</td>
                    <td>{{ visit.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}